body, html{
    padding: 0;
    margin: 0;
} 
.header {
    width: 100%;
    background-color: #1B2534;
    color: #fff;
    padding:20px;
    position: fixed;
    text-align: center;
}
#search-bar{
    background-color: rgba(255, 0, 0, 0);
    color: #a29c9c;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.opt{
    float: left;
    display: block;
    width: 100px;
    height: 30px;
    padding: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    overflow: visible;
}

a{
    color: #fff;
    text-decoration: none; /*bỏ dấu gạch chân của link*/
}

.logo {
    width: 80px;
    height: 50px;
    
}

.logo img{
    width: 100%;
    height: 100%;
}

.thucdon{
    color: #0b3349;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.slogant{
    color: #0b3349;
    font-weight: 1;
    text-align: center;
  
}

.but{
    text-align: right;
    color: #f9f9f9;
    width: 80%;
}

.menu{
    width: 100%;
    height: auto;
}
.tr{
    width: 70%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    
}
.menu_items{
    width: 23%;
    height: 100%;
    border: 3px solid #1b2534;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box; /* Đảm bảo border và padding không tác động vào kích thước tổng thể */
    margin: 0;
    overflow: hidden; /*phần tử ở trong phần tử cha là menuitems nêu bị đẩy ra ngoài thì tự động ẩn không hiển thị*/
}
.img{
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}
.describe{
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    border-top: 3px solid #1b2534;
}
.menu_items img{
    width: 95%;
    height: 95%;
    padding: 5px;
}
.td{
    padding-left: 10px;
    font-size: 15px;
    text-align: left;
}

.footer{
    background-color: #1b2534;
    color: white;
    padding-top: 10px;
}
.content{
margin: auto;

}
.row{
display: flex;
flex-wrap: wrap;
}

.justify-content{
justify-content:space-around;
}

.footer-item a{
color: white;
font-style: italic;
text-decoration: none;
}