.head {
    height: 30px;
    width: auto;
    background-color: #1b2534;
    color: white;
    font-family: Light;
  }
  
  /* .phone{
    margin: 30px;
  } */
  html,
  body {
    padding: 0;
    margin: 0;
  }
  .container {
    width: 100%;
    background-color: #0b3349;
    position: fixed;
    color: white;
  }
  .up ul{
    list-style: none;
    color: white;
  }
  .up ul li{
    display: inline-block;
    padding: 10px;
  }
  .up ul li a{
    text-decoration: none;
    color: white;
  }
  .logo{
    width: 10px;
  }
  #search-box #search-text{
    border: none;
    outline: none;
    background: none;
  }
  #search-box #search-btn{
    background: none;
    color: white;
    border: none;
  }
  footer{
    background-color: #1b2534;
  }
  .wrap-logo a, .food, a, .button-icon{
    text-decoration: none;
    color: white;
  }
  .wrap-logo a, .food{
    color: #4F736B;
  }
  .container-1{
    margin: center;
  }
  